.cursor-dot {
    @apply w-2 h-2 bg-primary rounded-full fixed pointer-events-none z-highlight-element -translate-x-1/2 -translate-y-1/2 opacity-0;
    transition:
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0 0 4px rgba(72, 4, 173, 0.3));
}

.cursor-dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    border-radius: 9999px;
    background-color: var(--primary-color);
    animation: cursor-ping 1.3s cubic-bezier(0, 0, 0.2, 1) infinite;
    pointer-events: none;
}

body.shift-pressed {
    @apply cursor-none;
}

body.shift-pressed .cursor-dot {
    @apply opacity-100;
}