# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.tsbuildinfo

# IDE and OS files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

apps/frontend/eye-note-extension.pem

# Cache
.eslintcache
.stylelintcache

temp/
scripts/.vscode/chrome-debug-profile/

apps/backend/.vscode/chrome-debug-profile/

apps/ext/extension/
