@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :host * {
        @apply m-0 p-0 box-border;
    }

    /* Scope body styles to only apply within our shadow DOM */
    :host {
        @apply bg-background text-foreground;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        color-scheme: dark;
    }
}
